# https://forum.obsidian.md/t/using-github-actions-to-release-plugins/7877/15

name: Create release

on:
  push:
    tags:
      - "*"
jobs:
  build:
    runs-on: ubuntu-latest
    # https://stackoverflow.com/a/76523728/18954618
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "21.x"

      - name: Build plugin
        run: |
          npm ci
          npm run build

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          tag="${{ github.ref_name }}"

          gh release create "$tag" \
            --title="$tag" \
            --draft \
            main.js manifest.json
